*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
   list-style: none;
   position: relative;
}
html{
    font-size: 100px;
}
body{
    font-size: 16px;
}

$screen-list:320px,360px,375px,384px,412px,414px,768px,800px,1024px;
$design-width: 1080px;

@each $w in $screen-list{
    @media only screen and (min-width:#{($w)} ) {
        html{
            font-size:100px*$w/$design-width;
        }        
    }
}
//宏
@mixin top-bottom{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
@mixin left-right{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
@mixin center{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@mixin w-h($width,$height){
    width:$width;
    height: $height;
}
@mixin font-center($height){
    line-height:$height;
    text-align: center;
}
//变量
$green:#c3decd;
$red:#rgba(255,30,40,0.5);

/*字体*/
//字体
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}
.icon{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*内容*/
body{
   background: #444; 
   color: #fff;
}
#body-first{
    @include w-h(100%,100%);
    .header{
        @include w-h(100%,1.67rem);
        .headern{
            width:9.5rem ;
            height: 100%;
            @include left-right;
            padding-top:1.07rem;
            .hd-more,.hd-back{
                @include w-h(1rem,auto);
                border:0.04rem solid #a8c2b0;
                background:rgba(255,255,255,0);
                border-radius: 5px;
                @include font-center(0.55rem);
//              margin-top: 0.5rem;
                padding-top:0.05rem;
                padding-bottom:0.05rem;
                
            }
            .hd-more{
                float: left;
            }
            .hd-back{
                float: right;
            }
            .hd-title{
                float: left;
                width: 7.3rem;
                height: 0.6rem;
                padding-top:0.1rem;
                @include font-center(0.55rem);
                font-size: 0.55rem;
                
            }
        }
    }
    .xinxi{
        @include w-h(100%,2.3rem);
        @include left-right;
        font-size: 0.3rem;
        .author{
           @include w-h(100%,1.8rem); 
           @include font-center(1.8rem);
           
        }
        .some{
            @include w-h(100%,0.5rem);
            ul{
               @include w-h(4.8rem,100%)
               @include left-right; 
              li{
                float: left;
                @include w-h(1.3rem,auto);
                @include font-center(0.494rem);
                border:0.03rem solid #fff;
                border-radius: 5px;
                padding-top:0.08rem;
                padding-bottom:0.08rem;
                margin-right: 0.28rem;
              } 
            }
            
        }
    }
    .lrc{
        position: absolute;
        left: 0;
        top: 5rem;
        padding: 0.2rem;
        width: 100%;
        height: 9.2rem;
//      background: green;
    }
    #footer{
        @include w-h(100%,4.3rem);
        position: fixed;
        bottom: 0;
        .proBox{
            @include w-h(9.5rem,0.9rem);
            @include left-right;
//          background: red;
            div{
                display: inline-block;
            }
            .progress{
                width: 7rem;
                height: 0.06rem;
                background: #262626;
                vertical-align: middle;
                .p-i{
                    width: 0.22rem;
                    height: 0.22rem;
                    background: deeppink;
                    border-radius: 50%;
                    position: absolute;
                    left: -0.11rem;
                    top:-0.11rem ;
                }
            }
               
        }
        .pp{
            @include w-h(auto,0.9rem);
            @include left-right;
            top: 1.1rem;
            text-align: center;
            vertical-align: middle;
            left: 2.16rem;
           div{
              float: left;
              display: inline-block;
//            vertical-align: middle; 
              font-size: 0.96rem;
              color:#878787;
              margin-right: 1.09rem;
           } 
           .play{
               font-size: 1.6rem;
               top: -0.3rem;
           }
        }
        .qita{
            @include w-h(8.2rem,0.9rem);
            @include left-right;
            top: 3.2rem;
            div{
                float: left;
                font-size: 0.56rem;
                color:#878787;
                margin-right: 1.3rem;
            }
            div:nth-last-child(1){
                margin-right: 0;
            }
        }
        
    }
    //列表
    .liebiao{
        width: 100%;
        height: 50%;
        background: #1a2029;
        position: fixed;
        left: 0;
        bottom:0;
        z-index: 55;
        padding-bottom: 1.4rem;
        display: none;
        .top{
            width: 100%;
            height: 1.4rem;
//          background: red;
            line-height: 1.4rem;
            border-bottom: 1px solid #333;
            .add{
               position: absolute;
               right: 2.0rem; 
            }
            .kong{
               position: absolute;
               right: 1rem;  
            }
        }
        .mlist{
            padding: 0.4rem;
            overflow: hidden;
            li{
                
                height: 1.2rem;
                border-bottom: 1px solid #333;
                line-height: 1.2rem;
                color: #ccc;
                #del{
                    width: 1.2rem;
                    height: 100%;
                    @include font-center(1.2rem);
                    position: absolute;
                    right: 0.2rem;
                    top: 0;
                }
                
            }
            .active{
                color:orangered
            }
            
        }
        .guan{
          width: 100%;
          height: 1.4rem;
          position: absolute;
          left: 0;
          bottom: 0;
          background: #1a1e26; 
          @include font-center(1.4rem); 
          color:#666;
          
        }
    }
}
#body-first:after{
    content: "";
    display: block;
    clear:both;
}

